@import url('bulma/css/bulma.css');
@import url('material-design-icons/iconfont/material-icons.css');

html {
  background-color: #ffffcc;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a,
u {
  text-decoration: none;
}
